<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci reiciendis distinctio fuga dolor
            praesentium nam quam dicta, odit dolorem sint doloribus quo omnis ullam voluptas necessitatibus cupiditate
            voluptate iusto. Deleniti in cum inventore saepe obcaecati eos reprehenderit nam a sequi.</p>
    </div>
</div>